.btn{
  padding:10px;
  background: #1e88e5;
  color: #fff;
  font-size: 14px;
  transition: .3s all;
  border:1px solid transparent;
  display: inline-block;
  cursor: pointer;
  &:hover{
    background: #fff;
    color: #1e88e5;
    border: 1px solid #1e88e5;
  }
}
