html {
  height: 100%;
}

.body {
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-size: 12px;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

.disabled{
  opacity: .5;
  pointer-events: none;
}
