<div class="company__reservation reservation">
<h4 class="reservation__title">SELECTED</h4>
<ng-container *ngIf="selectedTimeSlote&&selectedTimeSlote.companyId===companyId">
  <h5 class="reservation__subtitle">{{selectedTimeSlote.start_time|date:'EEEE, MMMM, d ,y'}}</h5>
  <span class="reservation__start">{{selectedTimeSlote.start_time|date:'h:mm:ss'}}</span> -
  <span class="reservation__end">{{selectedTimeSlote.end_time|date:'h:mm:ss'}}</span>
</ng-container>
<ng-container *ngIf="!selectedTimeSlote||selectedTimeSlote.companyId!==companyId">
  pls select
</ng-container>
</div>
