.reservation {
  background: lightgrey;
  min-height: 100px;
  &__title {
    font-size: 1.2rem;
    color: darkblue;
    margin-bottom: 5px;
  }
  &__subtitle {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 5px;
  }
}
