<section class="enter">
  <header class="enter__header header"></header>
  <div class="enter__body">
  <h1 class="enter__title">Task - Dates | Front-end Exercise</h1>
  <h2 class="enter__subtitle">Task:</h2>
  <p class="enter__text">Build an Angular powered website where one can choose a time slot.</p>
  <span class="btn btn--primary" routerLink="/board" routerLinkActive="active"> Go To time board</span>
  </div>
</section>

