
<span class="btn btn__primary" routerLink="/"> back to enter page</span>
<section class="board">
  <ng-container *ngFor="let company of dataCompaniesTime">
    <app-company [company]="company" (selectTimeSlote)="setSelectedtimeSlot($event)" [currentlySelectedSlote]="selectedTimeSlote"></app-company>
  </ng-container>
</section>
