<h2 class="company__title">
  {{company.name}}
</h2>
<app-reservation [selectedTimeSlote]="selectedTimeSlote" [companyId]="company.id"></app-reservation>
<div class="company__calendar calendar">
  <div class="calendar__list">
    <div class="calendar__date" *ngFor="let parsedTimesSlot of company.parsedTimesSlots">
      <h4 class="calendar__title">{{parsedTimesSlot.fullDate|date:'EEEE, MMMM d,y'}}</h4>
      <ng-container *ngFor="let timeSlot of parsedTimesSlot.time_slots">
        <div class="calendar__item"
             [ngClass]="{'disabled':selectedTimeSlote?.start_time>=timeSlot.start_time&&selectedTimeSlote?.end_time<=timeSlot.end_time,
               'selected':selectedTimeSlote?.id===timeSlot.id}"
             (click)="setSelectedState(timeSlot)">
          <app-slot [timeSlot]="timeSlot"></app-slot>
        </div>
      </ng-container>
    </div>
  </div>
</div>

