.company {
  border: 1px solid #1e88e5;
  &__reservation {
    padding: 20px 10px;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 10px;
  }
}

.calendar {
  max-height: 300px;
  overflow: auto;
  &__title {
    font-size: 1.2rem;
    color: darkblue;
  }
  &__list {

  }
  &__item {
    padding: 10px;
    color: #000;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    &.selected {
      background: cornflowerblue;
      opacity: 1;
      pointer-events: auto;
    }
    &:hover {
      background: #1e88e5;
      color: #000;
    }
  }
}
